{
    "extends": "eslint:recommended",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module"
    },
    "globals": {
        "_": true,
        "ActiveXObject": true,
        "console": true,
        "window": true,
        "XMLHttpRequest": true,
        "Promise": true
    },
    "rules": {
        "no-console": "off"
    }
}
