<!--               -->
<!-- Configuration -->
<!--               -->
<h3 class="page-heading">Sysdig API Settings</h3>

<!-- License plan -->
<div class="gf-form-group">
  <div class="gf-form max-width-30">
    <label class="gf-form-label width-7">Plan</label>
    <div class="gf-form-select-wrapper">
      <select
      class="gf-form-input gf-size-auto"
      ng-model="ctrl.plan"
      ng-options="plan.text for plan in ctrl.planOptions"
      ng-change="ctrl.handlePlanChange()"
      ></select>
    </div>
  </div>
  
  <!-- (Only Pro Software) Sysdig backend URL -->
  <div class="gf-form max-width-30" ng-if="ctrl.isOnprem">
    <label class="gf-form-label width-7">URL</label>
    <input
    class="gf-form-input"
    type="text"
    ng-model="ctrl.current.url"
    placeholder="{{suggestUrl}}"
    bs-typeahead="getSuggestUrls"
    min-length="0"
    ng-pattern="/^(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/"
    required
    ></input>
    <info-popover mode="right-absolute">
      <p>
        <strong>Sysdig API Server URL</strong>
      </p>
      <p>
        Specify a complete HTTP URL (for example http://your_server:8080)
      </p>
    </info-popover>
  </div>
  
  <!-- Sysdig API token -->
  <div class="gf-form max-width-30">
    <label class="gf-form-label width-7">API Token</label>
    <input
    type="text"
    class="gf-form-input"
    ng-model="ctrl.current.jsonData.apiToken"
    >
  </input>
</div>

<!-- Note 1: Where to find API token -->
<p>
  <strong>Note</strong>: You can find your API Token in
  <a href="{{ctrl.current.url}}/#/settings/user" target="_blank" style="text-decoration: underline;">Settings > User Profile > Sysdig Monitor API page.</a>
</p>

<!-- Note 2: Server proxy access -->
<p class="grafana-info-box" ng-if="ctrl.isOnprem">
  <strong>Note</strong>: All requests will be made from the browser to Grafana backend/server which in turn will forward the requests to the Sysdig backend/server and by that circumvent possible Cross-Origin Resource Sharing (CORS) requirements.
  <br>
  Make sure Sysdig backend/server is accessible from the Grafana backend/server.
</p>
</div>


<!--                   -->
<!-- Import dashboards -->
<!--                   -->
<h3 class="page-heading">Sysdig Monitor Dashboards</h3>

<p>
  Created some dashboards in Sysdig Monitor already? No worries, you can import them to Grafana!
</p>
<p>
  You can visit your existing dashboards at <a href="{{ctrl.current.url}}/#/dashboards" target="_blank" style="text-decoration: underline;">Sysdig Monitor Dashboards page</a>.
</p>
<p class="grafana-info-box" ng-if="ctrl.isDashboardsImportDisabled()">
  Before importing dashboards, please save the data source.
</p>

<div class="gf-form-group max-width-30" ng-if="ctrl.isDashboardsImportDisabled() === false">
  <div class="gf-form-group">
    <table class="filter-table">
      <tbody>
        <tr ng-repeat="dashboardSet in ctrl.dashboards">
          <td class="width-1">
            <i class="icon-gf icon-gf-dashboard"></i>
          </td>
          <td>
            <span>{{dashboardSet.title}}</span>
          </td>
          <td>
            <button
              class="btn btn-secondary btn-small"
              ng-disabled="ctrl.isDashboardsImportDisabled()"
              ng-click="ctrl.importDashboards(dashboardSet.id)"
            >
              Import
            </button>
            <div style="display: inline-block; margin: 0 10px; min-width: 13px;">
              <i class="fa fa-spinner" ng-show="dashboardSet.importStatus === 'executing'"></i>
              <i class="fa fa-check" ng-show="dashboardSet.importStatus === 'success'"></i>
              <i class="fa fa-exclamation-triangle" ng-show="dashboardSet.importStatus === 'error'"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
