<h3 class="page-heading">Sysdig API Settings</h3>
<div class="gf-form-group max-width-30">
  <div class="gf-form">
    <label class="gf-form-label width-7">Plan</label>
      <div class="gf-form-select-wrapper">
        <select
          class="gf-form-input gf-size-auto"
          ng-model="ctrl.plan"
          ng-options="plan.text for plan in ctrl.planOptions"
          ng-change="ctrl.handlePlanChange()"
        ></select>
      </div>
  </div>

  <div class="gf-form" ng-if="ctrl.isOnprem">
    <label class="gf-form-label width-7">API Server</label>
    <input
      class="gf-form-input"
      type="text"
      ng-model="ctrl.current.url"
      placeholder="{{suggestUrl}}"
      bs-typeahead="getSuggestUrls"
      min-length="0"
      ng-pattern="/^(ftp|http|https):\/\/(\w+:{0,1}\w*@)?(\S+)(:[0-9]+)?(\/|\/([\w#!:.?+=&%@!\-\/]))?$/"
      required
    ></input>
    <info-popover mode="right-absolute">
      Sysdig API Server URL
    </info-popover>
  </div>

  <div class="gf-form">
    <label class="gf-form-label width-7">API Token</label>
    <input
      type="text"
      class="gf-form-input"
      ng-model="ctrl.current.jsonData.apiToken"
    ></input>
  </div>
</div>


<h3 class="page-heading">Sysdig Monitor Dashboards</h3>
<p>
  Created some dashboards in Sysdig Monitor already? No worries, you can import them to Grafana!
</p>
<p>
  You can visit your existing dashboards at <a href="{{ctrl.current.url}}/#/dashboards" target="_blank">Sysdig Monitor Dashboards page</a>.
</p>
<p class="grafana-info-box" ng-if="ctrl.isDashboardsImportDisabled()">
  Before importing dashboards, please save the data source.
</p>

<div class="gf-form-group max-width-30">
  <div class="gf-form-group">
    <table class="filter-table">
      <tbody>
        <tr ng-repeat="dashboard in ctrl.dashboards">
          <td class="width-1">
            <i class="icon-gf icon-gf-dashboard"></i>
          </td>
          <td>
            <span>{{dashboard.title}}</span>
          </td>
          <td>
            <button
              class="btn btn-secondary btn-small"
              ng-disabled="ctrl.isDashboardsImportDisabled()"
              ng-click="ctrl.importDashboards(dashboard.id)"
            >
              Import
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

